#ci-timeline-visualizer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ci-timeline-visualizer > .section {
    background-color: lightblue;
    box-sizing: border-box;
    border-color: black;
    margin-right: 2px;
    height: 100%;
}

#ci-timeline-visualizer > .section.leftmost {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-left: 2px solid
}

#ci-timeline-visualizer > .section.rightmost {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 2px solid;
    margin-right: 0px;
}

#ci-timeline-visualizer .section .tooltip {
    position: relative;
    display: block;
    width: min-content;
    margin: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    pointer-events: none;
    user-select: none;
    z-index: 1000;

    transition: opacity 0.15s linear;

    opacity: 0;
}

#ci-timeline-visualizer .section .tooltip.show {
    opacity: 0.9;
}

#ci-timeline-visualizer .section .tooltip .triangle {
    position: relative;
    top: 3px;
    width: 0px;
    height: 0px;

    left: 50%;
    transform: translate(-50%, 0);

    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent black transparent;
}

#ci-timeline-visualizer .section .tooltip .inner-tooltip {
    position: relative;
    display: table;
    background-color: black;
    color: white;
    width: 100%;
    top: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;

    text-align: center;
    font-size: 12px;
    padding: 8px;
    border-radius: 4px;
    line-height: 16px;
    font-weight: 400;
}


#ci-timeline-visualizer .section .tooltip .inner-tooltip .section-name {
    font-weight: 600;
}


#ci-timeline-visualizer .section .tooltip .inner-tooltip .section-time {
    color: white;
}

#ci-timeline-visualizer .section .tooltip .inner-tooltip .section-share {
    color: #9b969d
}
